.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board-row button {
  width: 200px;
  height: 150px;  
  border: 2px solid;

}

button {
  background: none;
  outline: none;
  margin: 12px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 11px;
  width: 100px;
  height: 50px;
}

.status {
  font-size: 4em;
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  margin-bottom: 20px;
  margin: 20px;
}


.Winner {
  color: purple;
}